[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pybgpranking = {editable = true,path = "./client"}
bgpranking = {editable = true,path = "."}
redis = ">=3"
hiredis = "*"
python-dateutil = "*"
aiohttp = "*"
requests = "*"
simplejson = "*"
beautifulsoup4 = "*"
flask = "*"
flask-bootstrap = "*"
gunicorn = {extras = ["gevent"],version = "*"}
pyipasnhistory = {editable = true,git = "https://github.com/D4-project/IPASN-History.git/",subdirectory = "client"}
pycountry = "*"
pid = {editable = true,git = "https://github.com/trbs/pid.git/"}
pytaxonomies = {editable = true,git = "https://github.com/MISP/PyTaxonomies.git"}
pymispgalaxies = {editable = true,git = "https://github.com/MISP/PyMISPGalaxies.git"}
Jinja2 = ">=2.10.1"  # CVE-2019-10906

[requires]
python_version = "3.6"
