git+https://github.com/andymccurdy/redis-py.git
hiredis
python-dateutil
git+https://github.com/jsommers/pytricia.git
git+https://github.com/trbs/pid.git
aiohttp
requests

git+https://github.com/MISP/PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies.git
