git+https://github.com/andymccurdy/redis-py.git
hiredis
python-dateutil
git+https://github.com/jsommers/pytricia.git
git+https://github.com/trbs/pid.git
aiohttp
requests
simplejson

git+https://github.com/MISP/PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies.git

beautifulsoup4

# IPASN web client
git+https://github.com/D4-project/IPASN-History.git/#egg=pyipasnhistory&subdirectory=client
