{% extends "main.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='linegraph.css') }}">
{% endblock %}


{% block title %}Ranking - {{ asn }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='linegraph.js') }}'></script>
{% endblock %}

{% block content %}
  <center>
      <h1>Ranking - {{asn}}</h1></br></br>
  </center>
  <table class="table">
      <tr>
          <th>Prefix</th>
          <th>Rank</th>
      </tr>
      {% for prefix, rank in ranks %}
        <tr>
            <td>{{ prefix }}</td>
            <td>{{ rank }}</td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}
