{% extends "main.html" %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block title %}Ranking - {{ asn }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='linegraph.js') }}'></script>
{% endblock %}

{% block content %}
  <center>
      <h1>Ranking - {{asn}}</h1></br></br>
  </center>
  {% include ['top_forms.html'] %}
  <table class="table">
      <tr>
          <th>Prefix</th>
          <th>Rank</th>
      </tr>
      {% for prefix, rank in ranks %}
        <tr>
            <td><a href="{{ url_for('asn_details', asn=asn, prefix=prefix) }}">{{ prefix }}</a></td>
            <td>{{ rank }}</td>
        </tr>
      {% endfor %}
  </table>
  <canvas width="960" height="500"></canvas>
  {% if prefix_ips %}
  <table class="table">
      <tr>
          <th>IP</th>
          <th>Source(s)</th>
      </tr>
      {% for ip, sources in prefix_ips %}
        <tr>
            <td>{{ ip }}</td>
            <td>{{ ', '.join(sources) }}</td>
        </tr>
      {% endfor %}
  </table>
  {% endif %}
{% endblock %}
