{% extends "main.html" %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block title %}Ranking - {{ ' '.join(country) }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='linegraph_country.js') }}'></script>
    <script>linegraph('/country_history');</script>
{% endblock %}

{% block content %}
  <center>
      <h1>Ranking - {{ ' '.join(country) }}</h1></br></br>
  </center>
  {% include ['top_forms.html'] %}
  <canvas width="1024" height="800"></canvas>
  <div id="asn_details"></div>
{% endblock %}
