{% extends "main.html" %}

{% block title %}BGP Ranking{% endblock %}

{% block content %}
  <center>
    <h1>BGP Ranking</h1></br></br>
  </center>
  <form action="{{ url_for('asn_details') }}" method=post>
      ASN to search: <input type=number name=asn>
      <input type="submit" value="Search">
  </form>
  <form class="verticalform">
      <input type="text" class="form-control dp" />
  </form>
  <table class="table">
      <tr>
          <th>ASN</th>
          <th>Rank</th>
      </tr>
      {% for asn, rank in ranks %}
        <tr>
            <td><a href="{{ url_for('asn_details', asn=asn) }}">{{ asn }}</a></td>
            <td>{{ rank }}</td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}
